* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f8f8f8;
    padding-top: 60px;
}
nav a {

}
#container {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: "A A A" "H B B" "H C C" "D D D";
}
header {
    /* background-image: url(blob4.svg), url(blob.svg), url(blob3.svg), url(blob2.svg); */
    /* background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 90% 15%, left bottom, 95% 80%, 50% 30%;
    background-size: 10%, 70%, 10%, 8%; */
    
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 20%;
    padding-right: 20%;
    height: 100vh;
    grid-area: B;
}
h1 {
    font-family: 'archivo black', sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: #513953;
    padding: 0.2em 0;
    line-height: 90px;
}

nav {
    display: flex;
    color: #F8F8F8;   
    font-size: large;
    font-family: 'archivo black', sans-serif;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Make the nav span the full width of the viewport */
    /* background-color: #f8f8f8; */
    z-index: 1000; /* Ensure it stays on top of other elements */
    padding: 1em 2vw; /* Add padding for better aesthetics */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for better visibility */
    grid-area: A;
    background-color: #edf3ed;
} 
ul#nav_list {
    list-style-type: none;
    padding: 0 0.5em;
    display: flex;
    width:fit-content;
}
.nav_link {
    color: #836e85;
    text-decoration: none;
    padding: 0.25em 0.75em;
    border-bottom: #513953;
    border-width: 1px;
}
.nav_link:hover {
    color: #513953;
}
main {
    display: grid;
    grid-template-areas: 
    "E E ."
    ". F F"
    "G G G";
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 2% 3%;
    background-color: #F8F8F8;
    grid-area: C;    
}
section {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
    margin: 2em 0;
    width: 70%;    
}
section#about-me {
    background-image: url(blob4.svg);
    background-repeat: no-repeat;
    background-position: 25% 75%;
    background-size: 7em;
    background-color: #d5e1d4;
    grid-area: E;
    min-height: 300px;
}
section#skills {
    background-image: url(blob3.svg);
    background-repeat: no-repeat;
    background-position: 75% 75%;
    background-size: 7em;
    background-color: #d5e1d4;
    align-items:flex-start;
    grid-area: F;
    min-height: 300px;
}
section#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-around;
    background-color: #836e85;
    width: auto;
    grid-area: G;    
}
.projects_img {
    max-height: 300px;
    max-width: 400px;
    object-fit: cover;
}
h2{
    font-family: 'Archivo Narrow';
    font-size: 36px;
    color: #171718;
    padding-bottom: 0.5em;
}
h3{
    font-size: 24px;
    font-family: Verdana, sans-serif;
    line-height: 2em;
}
p {
    font-family: Verdana, sans-serif;
    line-height: 2em;
    letter-spacing: 1px;
}
li {
    font-family: Verdana, sans-serif;
    padding: 6px;
    letter-spacing: 1px;
    line-height: 1.5em;
}        
aside {    
    background-color: #513953;
    grid-area: H;
    width: 50px;
    justify-content: center;
    align-items: center;
}
#asidefixed {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    left: 10px;
    bottom: 30%;
}
.socialicon {
    width: 30px;
    height: auto;   
    transition: .5s; 
}
.socialicon:hover {
    transform: scale(1.5) rotate(-5deg);
}


footer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #F8F8F8;
    background-color: #0A0A0A;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-image: url(blob.svg);
    background-repeat:repeat-x;
    background-size: 20vw;
    grid-area: D;
}
#footerdiv {
    display: flex;
    justify-content: space-around;
}
a#footerlink {
    font-family: Verdana, sans-serif;
    line-height: 2em;
    color: #F8F8F8;
    text-decoration: none;
    list-style-type: none;
}
a#footerlink:hover {
    color:#d5e1d4;
}
img#logofooter {
    max-width: 35px;
}
@media only screen and (max-width: 1023px){
    
    #container {
        
        grid-template-columns: 1fr;
        grid-template-areas: "A" "B" "C" "H" "D";
    }
    main {
        grid-template-columns: 1fr;
        grid-template-areas: "E" "F" "G";
    }    
    section {
        height: auto;
        display: flex;        
        padding: 2em 2em;
        margin: 2em 0;
        width: 70%;
    }
    section#about-me {
        background-image: url(blob4.svg);
        background-repeat: no-repeat;
        background-position: 25% 75%;
        background-size: 7em;
        background-color: #d5e1d4;        
        grid-area: E;        
    }
    section#skills {
        background-image: url(blob3.svg);
        background-repeat: no-repeat;
        background-position: 75% 75%;
        background-size: 7em;
        background-color: #d5e1d4;        
        align-items:flex-start; 
        grid-area: F;
    }
    aside {
        display: flex;
        width: 100%;       
        justify-content:center;
        height: 70px;
    }    
    #asidefixed {
        flex-direction: row;
        position:static;
        justify-content: center;
    }
}
@media only screen and (max-width: 767px) {
    * {            
        box-sizing: border-box;
    }
    #container {
        grid-template-columns: 1fr;
        grid-template-areas: "A" "B" "C" "H" "D";
    }
    header {
        padding: 45% 1.25em;
    }
    header {
        
        background-size: 20%, 70%, 20%, 16%;
        
        height: auto;
        grid-area: B;
    }
    main {
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-areas: "E" "F" "G";
        gap: 8px;
    }
    
    h1 {
        font-size: 72px;
        line-height: 1.0;
    }
    ul#nav_list {
        flex-wrap: wrap;
    }
    .nav_link {        
        padding: 0.25em 2vw;
    }
    section {
        display: flex;
        background-color: #F8F8F8;        
        padding: 1.25em 1.25em;
        height: auto;
        margin: 2px 2px;    
    }
    section#about-me {
        background-position: 75% 75%;
        height: auto;
        width: 100%;
    }
    section#skills {
        height: auto;
        width: 100%;
    }
    section#projects {
        padding: 0;
        width: 100%;
    }
    .projects_img {
        width: 100%;
    }
    aside {
        display: flex;
        width: 100%;
        height: 70px;
    }
    #asidefixed {
        flex-direction: row;
        position:static;
        justify-content: center;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
}